:root {
  --buton-text-color: #ffffff;
  --button-color: #ab816c;
  --text-color: #2e2520;
  --program-second-part-color: #000000;
  --placeholder: rgba(171, 129, 108, 0.5);
  --background-color: #fffff9;
}
