<section class="contacts" id="contacts">
  <div class="contacts__container">
    <h2 class="contacts__title">Contact</h2>

    <form class="contacts__form" autocomplete="on">
      <p class="text contacts__text-form">We will answer any question!</p>
      <input class="contacts__input" type="email" name="email" placeholder="Email" />
      <input
        class="contacts__input contacts__question"
        type="text"
        name="question"
        placeholder="Type your question"
      />
      <button class="button contacts__button">Send</button>
    </form>
  </div>
</section>
