<footer class="footer container">
  <ul class="footer__list social">
    <li class="social__item">
      <a href="" class="social__link">
        <svg class="social__icon">
          <use href="./images/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="" class="social__link">
        <svg class="social__icon">
          <use href="./images/icons.svg#insta"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="" class="social__link">
        <svg class="social__icon">
          <use href="./images/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
  </ul>

  <address class="footer__address">
    <ul class="address__list">
      <li class="address__item">
        <a class="address__link" href="tel:+9102228855">
          <svg class="address__ico" width="13px" height="13px">
            <use href="./images/icons.svg#phone"></use>
          </svg>
          <span class="address__text">(910)222-8855</span>
        </a>
      </li>
      
      <li class="address__item">
        <a
          class="address__link"
          href="https://www.google.com/maps/@40.6974881,-73.979681,10z"
          target="_blank"
        >
          <svg class="address__ico" width="11px" height="14px">
            <use href="./images/icons.svg#location"></use>
          </svg>
          <span class="address__text">New York</span>
        </a>
      </li>
    </ul>
  </address>
</footer>
