<section class="hero">
  <div class="container">
    <div class="hero__description">
      <h1 class="hero__title">Donut Masterclass
        with the Donut King</h1>
      <p class="text hero__text">Hosted by Eva Green</p>
      <button class="button hero__btn" type="button">Register</button>
      <ul class="hero__list social__list">
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon">
              <use class="social__icon" href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon">
              <use href="./images/icons.svg#facebook" ></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>