<section class="program" id="program">
  <div class="container program__container">
    <div class="program__first-section">
      <h2 class="program__title title">Program</h2>
      <p class="program__text text">
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
        donut shop!
      </p>
      <ul class="program__schedule-list">
        <li class="program__schedule-item">A stand up history of donuts</li>
        <li class="program__schedule-item">Make 3 donut flavors of your choice</li>
        <li class="program__schedule-item">Enjoy all-you-can-eat donuts</li>
        <li class="program__schedule-item">Cocktail pairings and coffee included</li>
        <li class="program__schedule-item">Photoshoot by professional photographer</li>
        <li class="program__schedule-item">Secret receipt of cooking from Eva</li>
        <li class="program__schedule-item">All products are included in the price</li>
      </ul>
      <p class="program__text program__text-target is-hidden text">
        Come with your dear people and friends and you will spend an unforgettable time and will
        become a real professional in donuts cooking!
      </p>
      <button class="program__button">Read more</button>
    </div>
    <!-- <div class="program__second-section"> -->
    <ul class="program__info-list">
      <li class="program__info-item">
        <picture>
          <source
            srcset="
              ./images/program/webp/desk-program-donut1.webp   1x,
              ./images/program/webp/desk-program-donut1x2.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/program/png/desk-program-donut1.png   1x,
              ./images/program/png/desk-program-donut1x2.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/program/webp/mobile-program-donut1.webp   1x,
              ./images/program/webp/mobile-program-donut1x2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/program/png/mobile-program-donut1.png   1x,
              ./images/program/png/mobile-program-donut1x2.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="program__info-image"
            src="./images/program/png/mobile-program-donut1.png"
            alt="Photo of donut"
          />
        </picture>
        <h3 class="program__info-title">Type of the event</h3>
        <p class="program__info-text">Cooking classes</p>
        <svg class="program__info-icon" width="19.42px" height="18.01px">
          <use href="./images/icons.svg#chef-hat"></use>
        </svg>
      </li>
      <li class="program__info-item">
        <picture>
          <source
            srcset="
              ./images/program/webp/desk-program-donut2.webp   1x,
              ./images/program/webp/desk-program-donut2x2.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/program/png/desk-program-donut2.png   1x,
              ./images/program/png/desk-program-donut2x2.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/program/webp/mobile-program-donut2.webp   1x,
              ./images/program/webp/mobile-program-donut2x2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/program/png/mobile-program-donut2.png   1x,
              ./images/program/png/mobile-program-donut2x2.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="program__info-image"
            src="./images/program/png/mobile-program-donut2.png"
            alt="Photo of donut"
          />
        </picture>
        <h3 class="program__info-title">Number of guests</h3>
        <p class="program__info-text">1 to 20</p>
        <svg class="program__info-icon" width="20.32px" height="18.26px">
          <use href="./images/icons.svg#two-peoples"></use>
        </svg>
      </li>
      <li class="program__info-item">
        <picture>
          <source
            srcset="
              ./images/program/webp/desk-program-donut3.webp   1x,
              ./images/program/webp/desk-program-donut3x2.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/program/png/desk-program-donut3.png   1x,
              ./images/program/png/desk-program-donut3x2.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/program/webp/mobile-program-donut3.webp   1x,
              ./images/program/webp/mobile-program-donut3x2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/program/png/mobile-program-donut3.png   1x,
              ./images/program/png/mobile-program-donut3x2.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="program__info-image"
            src="./images/program/png/mobile-program-donut3.png"
            alt="Photo of donut"
          />
        </picture>
        <h3 class="program__info-title">Time of the event</h3>
        <p class="program__info-text">18:30 (2.5 hours)</p>
        <svg class="program__info-icon" width="19.72px" height="19.72px">
          <use href="./images/icons.svg#clock"></use>
        </svg>
      </li>
      <li class="program__info-item">
        <picture>
          <source
            srcset="
              ./images/program/webp/desk-program-donut4.webp   1x,
              ./images/program/webp/desk-program-donut4x2.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/program/png/desk-program-donut4.png   1x,
              ./images/program/png/desk-program-donut4x2.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/program/webp/mobile-program-donut4.webp   1x,
              ./images/program/webp/mobile-program-donut4x2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/program/png/mobile-program-donut4.png   1x,
              ./images/program/png/mobile-program-donut4x2.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="program__info-image"
            src="./images/program/png/mobile-program-donut4.png"
            alt="Photo of donut"
          />
        </picture>
        <h3 class="program__info-title">The host speaks</h3>
        <p class="program__info-text">English, French</p>
        <svg class="program__info-icon" width="24.83px" height="16.8px">
          <use href="./images/icons.svg#chat"></use>
        </svg>
      </li>
    </ul>
    <!-- </div> -->
  </div>
</section>
