<section class="registration" id="registration">
  <h2 class="title registration__title">Registration</h2>
  <div class="registration__flex-wrapper">
    <div class="registration__info-container">
      <p class="registration__text">May 23, 11:00
      New York</p>
      <p class="registration__text">&dollar; 699</p>
    </div>
    <div class="registration__form-container">
      <form class="registration__form">
        <div class="registration__form-wrapper">
          <p class="text registration__text-form">Apply your personal info
          for registration</p>
          <input type="text" name="text" class="registration__input" placeholder="Your Name" required>
          <input type="tel" name="tel" class="registration__input" placeholder="Phone number"
          required
          pattern=".{10,}"
          pattern="[0-9]">
          <input type="email" name="email" class="registration__input registration__email" placeholder="Email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </div>
        <button class="button registration__btn" type="submit">Register</button>
      </form>
    </div>
  </div>
</section>