<section class="review container" id="reviews">
  <h2 class="review__tit title">Reviews</h2>
  <div class="review__wrapper">
    <div class="review__slider " style="flex-basis: 100%">

      <div class="review__container review-hidden-div review__scale">
        <div class="review__img-container">
          <picture>
            <source
              srcset="
                ./images/review2/webp/review-234-will.webp   1x,
                ./images/review2/webp/review-234-will@2.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/review2/png/review-234-will.png   1x,
                ./images/review2/png/review-234-will@2.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
  
            <source
              srcset="
                ./images/review2/webp/review-185-will.webp   1x,
                ./images/review2/webp/review-185-will@2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/review2/png/review-185-will.png   1x,
                ./images/review2/png/review-185-will@2.png 2x
              "
              media="(min-width: 768px)"
              type="image-png"
            />
  
            <source
              srcset="
                ./images/review2/webp/review-110-will.webp   1x,
                ./images/review2/webp/review-110-will@2.webp 2x
              "
              media="(min-width: 280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/review2/png/review-110-will.png   1x,
                ./images/review2/png/review-110-will@2.png 2x
              "
              media="(min-width: 280px)"
              type="images/png"
            />
  
            <img
              src="./images/review/png/review-234-will.png"
              alt="Will's photo"
              class="review__img"
            />
          </picture>
        </div>

        <div class="review__stars-icon-container">
          <svg class="review__stars-set">
            <use href="./images/icons.svg#stars-set"></use>
          </svg>
        </div>
        <p class="review__name">Will</p>
      </div>

      <div class="review__container review-hidden-div review__scale">
        <div class="review__img-cintainer">
          <picture>
            <source srcset="
                      ./images/review2/webp/review-136-elisabeth.webp   1x,
                      ./images/review2/webp/review-136-elisabeth@2.webp 2x
                    " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-136-elisabeth.png   1x,
                      ./images/review2/png/review-136-elisabeth@2.png 2x
                    " media="(min-width: 1280px)" type="image/png" />
      
            <source srcset="
                      ./images/review2/webp/review-110-elisabeth.webp   1x,
                      ./images/review2/webp/review-110-elisabeth@2.webp 2x
                    " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-110-elisabeth.png   1x,
                      ./images/review2/png/review-110-elisabeth@2.png 2x
                    " media="(min-width: 768px)" type="image-png" />
      
            <source srcset="
                      ./images/review2/webp/review-110-elisabeth.webp   1x,
                      ./images/review2/webp/review-110-elisabeth@2.webp 2x
                    " media="(min-width: 280px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-110-elisabeth.png   1x,
                      ./images/review2/png/review-110-elisabeth@2.png 2x
                    " media="(min-width: 280px)" type="images/png" />
      
            <img src="./images/review/png/review-136-elisabeth.png" alt="Elisabeth's photo" class="review__img" />
          </picture>
        </div>
      
        <div class="review__stars-icon-container">
          <svg class="review__stars-set">
            <use href="./images/icons.svg#stars-set"></use>
          </svg>
        </div>
        <p class="review__name">Elisabeth</p>
      </div>

      <div class="review__container review-hidden-div review__scale">
        <div class="review__img-container">
          <picture>
            <source srcset="
                      ./images/review2/webp/review-136-john.webp   1x,
                      ./images/review2/webp/review-136-john@2.webp 2x
                    " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-136-john.png   1x,
                      ./images/review2/png/review-136-john@2.png 2x
                    " media="(min-width: 1280px)" type="image/png" />
      
            <source srcset="
                      ./images/review2/webp/review-110-john.webp   1x,
                      ./images/review2/webp/review-110-john@2.webp 2x
                    " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-110-john.png   1x,
                      ./images/review2/png/review-110-john@2.png 2x
                    " media="(min-width: 768px)" type="image/png" />
      
            <source srcset="
                      ./images/review2/webp/review-110-john.webp   1x,
                      ./images/review2/webp/review-110-john@2.webp 2x
                    " media="(min-width: 280px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-110-john.png   1x,
                      ./images/review2/png/review-110-john@2.png 2x
                    " media="(min-width: 280px)" type="images/png" />
      
            <img src="./images/review/png/review-136-john.png" alt="John's photo" class="review__img" />
          </picture>
        </div>
        <div class="review__stars-icon-container">
          <svg class="review__stars-set">
            <use href="./images/icons.svg#star-set-4"></use>
          </svg>
        </div>
        <p class="review__name">John</p>
      </div>

      <div class="review__container review-hidden-div review__scale">
        <div class="review__img-container">
          <picture>
            <source
              srcset="
                ./images/review2/webp/review-234-will.webp   1x,
                ./images/review2/webp/review-234-will@2.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/review2/png/review-234-will.png   1x,
                ./images/review2/png/review-234-will@2.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
  
            <source
              srcset="
                ./images/review2/webp/review-185-will.webp   1x,
                ./images/review2/webp/review-185-will@2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/review2/png/review-185-will.png   1x,
                ./images/review2/png/review-185-will@2.png 2x
              "
              media="(min-width: 768px)"
              type="image-png"
            />
  
            <source
              srcset="
                ./images/review2/webp/review-110-will.webp   1x,
                ./images/review2/webp/review-110-will@2.webp 2x
              "
              media="(min-width: 280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/review2/png/review-110-will.png   1x,
                ./images/review2/png/review-110-will@2.png 2x
              "
              media="(min-width: 280px)"
              type="images/png"
            />
  
            <img
              src="./images/review/png/review-234-will.png"
              alt="Will's photo"
              class="review__img"
            />
          </picture>
        </div>

        <div class="review__stars-icon-container">
          <svg class="review__stars-set">
            <use href="./images/icons.svg#stars-set"></use>
          </svg>
        </div>
        <p class="review__name">Will</p>
      </div>

      <div class="review__container review-hidden-div review__scale">
        <div class="review__img-container">
          <picture>
            <source srcset="
                      ./images/review2/webp/review-136-elisabeth.webp   1x,
                      ./images/review2/webp/review-136-elisabeth@2.webp 2x
                    " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-136-elisabeth.png   1x,
                      ./images/review2/png/review-136-elisabeth@2.png 2x
                    " media="(min-width: 1280px)" type="image/png" />
      
            <source srcset="
                      ./images/review2/webp/review-110-elisabeth.webp   1x,
                      ./images/review2/webp/review-110-elisabeth@2.webp 2x
                    " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-110-elisabeth.png   1x,
                      ./images/review2/png/review-110-elisabeth@2.png 2x
                    " media="(min-width: 768px)" type="image-png" />
      
            <source srcset="
                      ./images/review2/webp/review-110-elisabeth.webp   1x,
                      ./images/review2/webp/review-110-elisabeth@2.webp 2x
                    " media="(min-width: 280px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-110-elisabeth.png   1x,
                      ./images/review2/png/review-110-elisabeth@2.png 2x
                    " media="(min-width: 280px)" type="images/png" />
      
            <img src="./images/review/png/review-136-elisabeth.png" alt="Elisabeth's photo" class="review__img" />
          </picture>
      
        </div>
      
        <div class="review__stars-icon-container">
          <svg class="review__stars-set">
            <use href="./images/icons.svg#stars-set"></use>
          </svg>
        </div>
        <p class="review__name">Elisabeth</p>
      </div>

      <div class="review__container review-hidden-div review__scale">
        <div class="review__img-container">
          <picture>
            <source srcset="
                      ./images/review2/webp/review-136-john.webp   1x,
                      ./images/review2/webp/review-136-john@2.webp 2x
                    " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-136-john.png   1x,
                      ./images/review2/png/review-136-john@2.png 2x
                    " media="(min-width: 1280px)" type="image/png" />
      
            <source srcset="
                      ./images/review2/webp/review-110-john.webp   1x,
                      ./images/review2/webp/review-110-john@2.webp 2x
                    " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-110-john.png   1x,
                      ./images/review2/png/review-110-john@2.png 2x
                    " media="(min-width: 768px)" type="image/png" />
      
            <source srcset="
                      ./images/review2/webp/review-110-john.webp   1x,
                      ./images/review2/webp/review-110-john@2.webp 2x
                    " media="(min-width: 280px)" type="image/webp" />
            <source srcset="
                      ./images/review2/png/review-110-john.png   1x,
                      ./images/review2/png/review-110-john@2.png 2x
                    " media="(min-width: 280px)" type="images/png" />
      
            <img src="./images/review/png/review-136-john.png" alt="John's photo" class="review__img" />
          </picture>
        </div>
      
        <div class="review__stars-icon-container">
          <svg class="review__stars-set">
            <use href="./images/icons.svg#star-set-4"></use>
          </svg>
        </div>
        <p class="review__name">John</p>
      </div>

    </div>
  </div>

  <div class="review__slider-txt">
    <div class="review__txt review__txt--hidden">
      <p>
        Last time I have visited a cooking course by Eva I was impressed with the way she explained
        everything to people. You can be sure you will manage to cook a delicious dish even if it is
        your first time in the kitchen!
      </p>
      <p>
        Thank you so much for the masterclass! Looking forward to the next one and highly recommend
        it to everyone!
      </p>
      <span class="review__counter">2/15</span>
    </div>
    <div class="review__txt">
      <p>
        Last time I have visited a cooking course by Eva I was impressed with the way she explained
        everything to people. You can be sure you will manage to cook a delicious dish even if it is
        your first time in the kitchen!
      </p>
      <p>
        Thank you so much for the masterclass! Looking forward to the next one and highly recommend
        it to everyone!
      </p>
      <span class="review__counter">2/15</span>
    </div>
    <div class="review__txt review__txt--hidden">
      <p>
        Last time I have visited a cooking course by Eva I was impressed with the way she explained
        everything to people. You can be sure you will manage to cook a delicious dish even if it is
        your first time in the kitchen!
      </p>
      <p>
        Thank you so much for the masterclass! Looking forward to the next one and highly recommend
        it to everyone!
      </p>
      <span class="review__counter">2/15</span>
    </div>
  </div>
</section>
