<section class="review container">
     <h2 class="review__tit">Review</h2>
    <div class="review__container">
        <picture>
            <source srcset="./images/review/webp/review__desktop-img1.webp 1x, ./images/review/webp/review__mobile-img1.webp 2x" media="(min-width: 280px)" type="image/webp">
            <source srcset="./images/review/png/review__desktop-img1.png 1x, ./images/review/png/review__mobile-img1.png 2x" media="(min-width: 280px)">

            <source srcset="./images/review/webp/review__mobile-img1.webp 1x, ./images/review/webp/review__mobile-img1.webp 2x" media="(min-width: 280px)" type="image/webp">
            <source srcset="./images/review/png/review__mobile-img1.png 1x, ./images/review/png/review__mobile-img1.png 2x" media="(min-width: 280px)">

            <source srcset="./images/review/webp/review__mobile-img1.webp 1x, ./images/review/webp/review__mobile-img1.webp 2x" media="(min-width: 280px)" type="image/webp">
            <source srcset="./images/review/png/review__mobile-img1.png 1x, ./images/review/png/review__mobile-img1.png 2x" media="(min-width: 280px)">

            <img src="./images/review/png/review__mobile-img1.png" alt="Will" class="review__img">
        </picture>
        <p class="review__name">Will</p>
        <div class="review__txt">
            Last time I have visited a cooking
            course by Eva I was impressed
            with the way she explained
            everything to people. You can be
            sure you will manage to c
            delicious dish even if it is your first
            time in the kitchen!
            Thank you so much for the 
            masterclass! Looking forward to the
            next one and highly recommend it
            to everyone!
        </div>
    </div>
</section>
     