<section class="review container">
     <h2 class="review__tit">Reviews</h2>
    <div class="review__container">
        <picture>
            <source srcset="./images/review/webp/review__desktop-img1.webp 1x, ./images/review/webp/review__mobile-img1.webp 2x" media="(min-width: 1200px)" type="image/webp">
            <source srcset="./images/review/png/review__desktop-img1.png 1x, ./images/review/png/review__mobile-img1.png 2x" media="(min-width: 1200px)">

            <source srcset="./images/review/webp/review__mobile-img1.webp 1x, ./images/review/webp/review__mobile-img1.webp 2x" media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/review/png/review__mobile-img1.png 1x, ./images/review/png/review__mobile-img1.png 2x" media="(min-width: 768px)">

            <source srcset="./images/review/webp/review__mobile-img1.webp 1x, ./images/review/webp/review__mobile-img1.webp 2x" media="(min-width: 280px)" type="image/webp">
            <source srcset="./images/review/png/review__mobile-img1.png 1x, ./images/review/png/review__mobile-img1.png 2x" media="(min-width: 280px)">

            <img src="./images/review/png/review__mobile-img1.png" alt="Will" class="review__img">
        </picture>
        <div class="review__stars-icon-container">
            <svg class="review__stars-icon">
                <use href="./images/icons.svg#full-star"></use>
            </svg>
            <svg class="review__stars-icon">
                <use href="./images/icons.svg#full-star"></use>
            </svg>
            <svg class="review__stars-icon">
                <use href="./images/icons.svg#full-star"></use>
            </svg>
            <svg class="review__stars-icon">
                <use href="./images/icons.svg#full-star"></use>
            </svg>
            <svg class="review__stars-icon">
                <use href="./images/icons.svg#full-star"></use>
            </svg>
        </div>
        <p class="review__name">Will</p>
        <div class="review__txt">
            Last time I have visited a cooking</br>
            course by Eva I was impressed</br>
            with the way she explained</br>
            everything to people. You can be</br>
            sure you will manage to c</br>
            delicious dish even if it is your first</br>
            time in the kitchen!</br>
            Thank you so much for the</br>
            masterclass! Looking forward to the</br>
            next one and highly recommend it</br>
            to everyone!</br>
        </div>
        <div class="review__couter-wrapper">
            <span class="review__counter">2/15</span>
        </div>
    </div>
</section>
     