.body__wrapper{
    max-width: 1280px;
    margin: 0 auto;
    background-image: url(/images/background/donuts-mob.png), url(/images/background/wheat.png);
    background-position: top 0 left 0, bottom 0 right 0;
    background-size: 119px, 113px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
    background-image: url(/images/background/donuts-mob2x.png), url(/images/background/wheat2x.png);
  }

    @media screen and (min-width: 768px) {
    background-image: url(/images/background/donuts-tablet.png),
      url(/images/background/wheat-tablet.png);
    background-position: top 0 right 137px, bottom 0 right 0;
    background-size: 378px, 113px;

    @media (min-resolution: 2dppx) {
      background-image: url(/images/background/donuts-tablet@2x.png),
        url(/images/background/wheat-tablet@2x.png);
    }
  }

    @media screen and (min-width: 1280px) {
    background-image: url(/images/background/spoon.png), url(/images/background/donuts-desk.png),
      url(/images/background/wheat-desk.png);
    background-position: top 137px left 0, top 0 right 0, bottom 0 right 0;
    background-size: 150px, 720px, 362px;

    @media (min-resolution: 2dppx) {
      background-image: url(/images/background/spoon2x.png),
        url(/images/background/donuts-desk2x.png), url(/images/background/wheat-desk2x.png);
    }
  }


}