.button {
  font-family: 'Caveat Brush', cursive;
  min-width: 145px;
  height: 40px;
  padding: 0px 6px;
  background: var(--button-color);
  border-radius: 25px;
  border: none;
  color: var(--buton-text-color);
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
