.button {
  font-family: 'Caveat Brush', cursive;
  font-size: 18px;
  min-width: 145px;
  height: 40px;
  padding: 0px 6px;
  background: var(--button-color);
  border-radius: 25px;
  border: none;
  color: var(--buton-text-color);
  text-align: center;
  margin: 0 auto;
  cursor: pointer;


  @media screen and (min-width: 1280px){
    min-width: 158px;
    font-size: 24px;
  }
}
