.social {
  display: flex;
  justify-content: center;

  &__link {
    width: 40px;
    height: 40px;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 15px;
    height: 15px;
    fill: var(--text-color);
  }
}
