.social {
  display: flex;
  justify-content: center;
  &__item {
    width: 40px;
    height: 40px;
  }

  &__link {
    width: 40px;
    height: 40px;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 15px;
    height: 15px;
    fill: var(--text-color);

    transition: fill 250ms linear;

    .social__link:hover &,
    .social__link:focus & {
      fill: var(--button-color);
    }
    @media screen and(min-width: 1280px) {
      width: 19px;
      height: 19px;
    }
  }
}
