.about-us {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 12px;
    padding-right: 67px;
    margin: 0 auto;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 71px;
    padding-right: 229px;
    margin: 0 auto;
  }
}

.about-us__all-txt-wrapper {
  width: 290px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1200px) {
    width: 392px;
  }
}

.about-us__img {
  width: 100%;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    width: 330px;
    margin-right: 25px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 512px;
    margin-right: 76px;
  }
}

.about-us__tit {
  color: var(--text-color);
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    padding-top: 35px;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 88px;
  }
}

.about-us__txt {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.about-us__txt-marg {
  margin-bottom: 15px;
}

.about-us__txt-target {
  margin-top: 15px;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.about-us__button {
  color: var(--button-color);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 0px;
  font-family: 'Caveat Brush', cursive;
  font-size: 18px;
  padding: 0;
  margin-top: 15px;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
