.footer {
  &__list {
    margin-bottom: 34px;
  }

  &__address {
    margin-bottom: 19px;
  }
}

.address {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
  }

  &__link {
    color: var(--text-color);
  }

  &__ico {
    fill: var(--text-color);
  }

  &__text {
    color: var(--text-color);
  }
}
