.review {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 23px;
  margin-bottom: 30px;
  
  @media screen and (min-width: 768px) {
    max-width: 626px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  &__tit {
    font-size: 24px;
    font-family: 'Caveat Brush', sans-serif;
    font-weight: normal;
    line-height: 1.2;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px;
  
    @media screen and (min-width: 768px){
      margin-bottom: 10px;
    }
  }

  &__slider{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }

  &-hidden-div{
  display: none;

  @media screen and (min-width: 768px){
      display: block;
    }
  }

  &__scale &__img{
  align-self: flex-start;
  width: 110px;

  @media screen and (min-width: 1280px) {
    width: 136px;

    }
  }

  &__container--padding{
    padding-top: 0;
    margin-left: 38px;
    margin-right: 38px;

    @media screen and (min-width: 768px){
      padding-top: 31px;
    }


    @media screen and (min-width: 1280px){
      width: 354px;
      margin-left: 60px;
      margin-right: 60px;
    }
  }


  &__img {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
  
    @media screen and (min-width: 768px){
      width: 186px;
    }
  
    @media screen and (min-width: 1280px){
      width: 234px;
    }
  }

  &__stars-icon-container {
    margin-bottom: 6px;
  
  
  }

  &__stars-set {
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 24px;
    fill: var(--button-color);
    @media screen and (min-width: 768px){
      width: 136px;
    }
  
  }

  &__name {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 11px;
  }

}



.review__txt{
  max-width: 450px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.3;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    max-width: 626px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  &--hidden{
    display: none;
  }

}

.review__counter {
  display: inline-block;
  position: relative;
  width: 120px;
  text-align: center;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  color: var(--button-color);
  font-family: 'Montserrat', sans-serif;


  &::before {
    content: "";
    width: 35px;
    height: 1px;
    background-color: var(--button-color);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
  }

  &::after {
    content: "";
    width: 35px;
    height: 1px;
    background-color: var(--button-color);
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
  }
}
